<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROC Curve</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'plot/style.css' %}">
    <script src="{% static 'plot/jquery-3.3.1.js'%}"></script>
    <script src="{% static 'plot/script.js'%}"></script>
</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <div class="header_wrap">
        <h1>Построение ROC-Кривой</h1>
    </div>
    {% if ploted %}
    <div class="container justify-content-center">
        <h2>ROC-Кривая.</h2>
        <img src="{{plot}}">
    </div>
    {% else %}
    <div class="container justify-content-center">
        <h2 class="title">Для построение ROC-Кривой, согласно, заданию загрузите два файла.</h2>
        <div class="loader" display="False"></div>
        <div class="form_wrap">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_features">features.npy</label>
                    <input type="file" class="form-control-file" id="id_features" name="features" aria-describedby="features_fileHelp" required>
                    <small id="features_fileHelp" class="form-text text-muted">Загрузите сюда набор векторов(features.npy).</small>
                </div>
                <div class="form-group">
                    <label for="id_person_id">person_id.npy</label>
                    <input type="file" class="form-control-file" id="id_person_id" name="person_id" aria-describedby="person_id_fileHelp" required>
                    <small id="person_id_fileHelp" class="form-text text-muted">Загрузите сюда набор из персон(person_id.npy).</small>
                </div>
                <button type="submit" class="btn btn-primary load_files">Загрузить файлы</button>
            </form>
        </div>
    </div>
    {% endif %}
</body>
</html>